<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT sobreType ANY>
<!ATTLIST sobreType id ID #REQUIRED>
<!ELEMENT unidadeType ANY>
<!ATTLIST unidadeType id ID #REQUIRED>
<!ELEMENT unidadesType ANY>
<!ATTLIST unidadesType id ID #REQUIRED>
<!ELEMENT destaqueType ANY>
<!ATTLIST destaqueType id ID #REQUIRED>
<!ELEMENT novidadeType ANY>
<!ATTLIST novidadeType id ID #REQUIRED>
<!ELEMENT novidadesType ANY>
<!ATTLIST novidadesType id ID #REQUIRED>
<!ELEMENT paginaType ANY>
<!ATTLIST paginaType id ID #REQUIRED>
<!ELEMENT homeType ANY>
<!ATTLIST homeType id ID #REQUIRED>
<!ELEMENT produtoType ANY>
<!ATTLIST produtoType id ID #REQUIRED>
<!ELEMENT produtosType ANY>
<!ATTLIST produtosType id ID #REQUIRED>
]>
<root id="-1">
  <homeType id="1083" key="fe9a9ccc-cac3-4840-a3df-efd162b5c177" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-19T15:21:53" updateDate="2018-01-24T11:45:33" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1077" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1076" nodeTypeAlias="homeType" isPublished="true">
    <nomeEmpresa><![CDATA[MyCo]]></nomeEmpresa>
    <title><![CDATA[MyCo - Home]]></title>
    <metaDescription><![CDATA[jkdsnkjasd asd asjdnasjdajsda sdasd]]></metaDescription>
    <texto><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium]]></texto>
    <titulo><![CDATA[Bem vindo ao My Co]]></titulo>
    <callToAction><![CDATA[/produtos]]></callToAction>
    <descricao><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.]]></descricao>
    <produtosType id="1084" key="9d7a22e8-adde-40ab-a674-a6bdb1d224f0" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2018-01-19T17:09:38" updateDate="2018-01-24T16:53:42" nodeName="Produtos" urlName="produtos" path="-1,1083,1084" isDoc="" nodeType="1080" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1090" nodeTypeAlias="produtosType" isPublished="true">
      <title><![CDATA[My Co - Produtos incríveis]]></title>
      <metaDescription><![CDATA[mklamklaslkasdmklasm dklasmd kalsmdlaksmdasdasd]]></metaDescription>
      <imagemPrincipal><![CDATA[umb://media/68a30ff314c347f7a2491e88c35ccfb5]]></imagemPrincipal>
      <titulo><![CDATA[Conheça os nossos produtos]]></titulo>
      <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.]]></descricao>
      <produtoType id="1085" key="28beb538-4c7a-47a6-9b82-5287da98d87d" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2018-01-19T17:16:32" updateDate="2018-01-24T14:28:59" nodeName="Produto 1" urlName="produto-1" path="-1,1083,1084,1085" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <fotoHome><![CDATA[umb://media/40c54dc9cd0743c0ab323657c32f7a0e]]></fotoHome>
        <nome><![CDATA[Produto 1]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>1</exibirHome>
        <ordem>1</ordem>
      </produtoType>
      <produtoType id="1086" key="c8028c56-de0d-4cde-b75f-d069844b129e" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2018-01-19T17:17:08" updateDate="2018-01-24T14:29:08" nodeName="Produto 2" urlName="produto-2" path="-1,1083,1084,1086" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <fotoHome><![CDATA[umb://media/385fec2ab285469c80b8515f3666f103]]></fotoHome>
        <nome><![CDATA[Produto 2]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>1</exibirHome>
        <ordem>2</ordem>
      </produtoType>
      <produtoType id="1087" key="92202a49-b51a-4174-98b7-48834388414e" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2018-01-19T17:17:32" updateDate="2018-01-24T14:29:20" nodeName="Produto 3" urlName="produto-3" path="-1,1083,1084,1087" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <fotoHome><![CDATA[umb://media/50aa7f2b5a2547adb67ae6ce9b8ec25e]]></fotoHome>
        <nome><![CDATA[Produto 3]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>1</exibirHome>
        <ordem>3</ordem>
      </produtoType>
      <produtoType id="1088" key="df98cce6-fb3b-4869-96d8-800f4ea42164" parentID="1084" level="3" creatorID="0" sortOrder="3" createDate="2018-01-19T17:17:56" updateDate="2018-01-24T17:40:30" nodeName="Produto 4" urlName="produto-4" path="-1,1083,1084,1088" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <fotoHome><![CDATA[umb://media/40c54dc9cd0743c0ab323657c32f7a0e]]></fotoHome>
        <nome><![CDATA[Produto 4]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>0</exibirHome>
        <ordem>4</ordem>
      </produtoType>
      <produtoType id="1089" key="6ac67333-59a8-4fbe-a20d-9b99c4bc69aa" parentID="1084" level="3" creatorID="0" sortOrder="4" createDate="2018-01-19T17:18:21" updateDate="2018-01-24T17:40:43" nodeName="Produto 5" urlName="produto-5" path="-1,1083,1084,1089" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <fotoHome><![CDATA[umb://media/385fec2ab285469c80b8515f3666f103]]></fotoHome>
        <nome><![CDATA[Produto 5]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>0</exibirHome>
        <ordem>5</ordem>
      </produtoType>
    </produtosType>
    <novidadesType id="1096" key="c4c43e96-cba0-4eb5-aa74-37a1a5d614ba" parentID="1083" level="2" creatorID="0" sortOrder="1" createDate="2018-01-19T18:10:39" updateDate="2018-01-24T17:54:30" nodeName="Novidades" urlName="novidades" path="-1,1083,1096" isDoc="" nodeType="1092" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1091" nodeTypeAlias="novidadesType" isPublished="true">
      <titulo><![CDATA[Sed ut perspiciatis unde omnis]]></titulo>
      <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
      <imagemPrincipal><![CDATA[umb://media/9cf5f1c5a7d844a3a607a9127855fc71]]></imagemPrincipal>
      <novidadeType id="1120" key="0256de50-92c1-4839-9065-49f903b08cbc" parentID="1096" level="3" creatorID="0" sortOrder="0" createDate="2018-01-23T14:18:44" updateDate="2018-01-24T18:12:39" nodeName="One morning, when Gregor Samsa" urlName="one-morning-when-gregor-samsa" path="-1,1083,1096,1120" isDoc="" nodeType="1094" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1121" nodeTypeAlias="novidadeType" isPublished="true">
        <conteudo><![CDATA[<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
<p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
<p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</p>
<p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath</p>]]></conteudo>
        <tags><![CDATA[Tag 1,Tag 2,Tag 3]]></tags>
        <imagemHome><![CDATA[umb://media/b9d2905d10d849749213436f608dd832]]></imagemHome>
        <resumo><![CDATA[A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.]]></resumo>
        <categoria><![CDATA[Categoria Blog A]]></categoria>
        <imagemPrincipal><![CDATA[umb://media/9cf5f1c5a7d844a3a607a9127855fc71]]></imagemPrincipal>
        <titulo><![CDATA[One morning, when Gregor Samsa]]></titulo>
      </novidadeType>
      <novidadeType id="1122" key="4bed02c8-6dd9-4082-911b-ba1cfa981a95" parentID="1096" level="3" creatorID="0" sortOrder="1" createDate="2018-01-23T14:53:41" updateDate="2018-01-24T18:12:51" nodeName="Sony e Nike lançam o tênis do PlayStation que possui até luzes LED" urlName="sony-e-nike-lançam-o-tênis-do-playstation-que-possui-até-luzes-led" path="-1,1083,1096,1122" isDoc="" nodeType="1094" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1121" nodeTypeAlias="novidadeType" isPublished="true">
        <conteudo><![CDATA[<p>A Sony fez uma parceria com a Nike e o famoso jogador de basquete Paul George para anunciar o mais recente lançamento da linha PlayStation: um tênis.</p>
<p>O acessório traz design e funcionalidades de um tênis comum, mas diversos recursos estéticos deixam a experiência personalizada para os fãs da marca de games da Sony.</p>
<p>O que mais chama a atenção são os anéis para os cadarços com cores dos botões, a parte com arte do espaço, lembrando o tema do PS2, e também a luz LED nas marcas PlayStation e Paul George, que podem ser configuradas para piscar.  Além disso, o produto vem com um código da PSN.</p>
<p>Segundo o jogador de basquete, ele é "um cara da PlayStation" desde que ganhou um PS2 de Natal, por isso tantas referências ao velho console de grande sucesso mundialmente - e que ainda faz sucesso por aqui.</p>
<p>O tênis da PlayStation ainda não teve seu preço revelado, mas o lançamento acontece em 10 de fevereiro deste ano.</p>]]></conteudo>
        <tags><![CDATA[Tag 1,Tag 3]]></tags>
        <imagemHome><![CDATA[umb://media/ee45c50559f941988f840cc0e3f2ed5f]]></imagemHome>
        <resumo><![CDATA[A Sony fez uma parceria com a Nike e o famoso jogador de basquete Paul George para anunciar o mais recente lançamento da linha PlayStation: um tênis.

O acessório traz design e funcionalidades de um tênis comum, mas diversos recursos estéticos deixam a experiência personalizada para os fãs da marca de games da Sony.]]></resumo>
        <categoria><![CDATA[Categoria Blog B]]></categoria>
        <imagemPrincipal><![CDATA[umb://media/68a30ff314c347f7a2491e88c35ccfb5]]></imagemPrincipal>
        <titulo><![CDATA[Sony e Nike lançam o tênis do PlayStation que possui até luzes LED]]></titulo>
      </novidadeType>
    </novidadesType>
    <destaqueType id="1099" key="f633bb84-7954-4853-b1d9-f2c4ce18cdd4" parentID="1083" level="2" creatorID="0" sortOrder="2" createDate="2018-01-22T15:39:36" updateDate="2018-01-24T11:45:08" nodeName="Conheca os nossos produtos" urlName="conheca-os-nossos-produtos" path="-1,1083,1099" isDoc="" nodeType="1098" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="0" nodeTypeAlias="destaqueType" isPublished="true">
      <descricaoDestaque><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoDestaque>
      <tituloDestaque><![CDATA[Conheça os nossos produtos]]></tituloDestaque>
      <textoAcaoDestaque><![CDATA[Ver mais]]></textoAcaoDestaque>
      <linkAcaoDestaque><![CDATA[/produtos]]></linkAcaoDestaque>
      <destaqueImage><![CDATA[umb://media/9cf5f1c5a7d844a3a607a9127855fc71]]></destaqueImage>
    </destaqueType>
    <destaqueType id="1100" key="1b34a778-1e5c-4d0f-86e3-ab65f9c7d28b" parentID="1083" level="2" creatorID="0" sortOrder="3" createDate="2018-01-22T15:40:46" updateDate="2018-01-24T11:45:29" nodeName="Conheca as nossas unidades" urlName="conheca-as-nossas-unidades" path="-1,1083,1100" isDoc="" nodeType="1098" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="0" nodeTypeAlias="destaqueType" isPublished="true">
      <descricaoDestaque><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoDestaque>
      <tituloDestaque><![CDATA[Conheca as nossas unidades]]></tituloDestaque>
      <textoAcaoDestaque><![CDATA[Ver mais]]></textoAcaoDestaque>
      <linkAcaoDestaque><![CDATA[/unidades]]></linkAcaoDestaque>
      <destaqueImage><![CDATA[umb://media/68a30ff314c347f7a2491e88c35ccfb5]]></destaqueImage>
    </destaqueType>
    <unidadesType id="1103" key="5638a69c-f6d4-42ad-989d-f89db25b8094" parentID="1083" level="2" creatorID="0" sortOrder="4" createDate="2018-01-22T16:26:25" updateDate="2018-01-24T17:57:04" nodeName="Unidades" urlName="unidades" path="-1,1083,1103" isDoc="" nodeType="1101" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1109" nodeTypeAlias="unidadesType" isPublished="true">
      <titulo><![CDATA[Nossas unidades]]></titulo>
      <descricao><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.]]></descricao>
      <imagemPrincipal><![CDATA[umb://media/68a30ff314c347f7a2491e88c35ccfb5]]></imagemPrincipal>
      <unidadeType id="1104" key="8bf0c786-701f-4ac1-b9e9-c0332a5eb374" parentID="1103" level="3" creatorID="0" sortOrder="0" createDate="2018-01-22T16:27:45" updateDate="2018-01-24T18:04:11" nodeName="Jardins" urlName="jardins" path="-1,1083,1103,1104" isDoc="" nodeType="1102" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1115" nodeTypeAlias="unidadeType" isPublished="true">
        <enderecoUnidade><![CDATA[Av. Paulista, 1900, São Paulo / SP]]></enderecoUnidade>
        <nomeUnidade><![CDATA[Paulista]]></nomeUnidade>
        <descricaoUnidade><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoUnidade>
        <horarioFuncionamento><![CDATA[Seg à sex das 08:00 às 17:00]]></horarioFuncionamento>
        <fotoPrincipal><![CDATA[umb://media/50aa7f2b5a2547adb67ae6ce9b8ec25e]]></fotoPrincipal>
        <miniaturaLoja><![CDATA[umb://media/46d4061095b24dcf86ca575db3c2ab58]]></miniaturaLoja>
      </unidadeType>
      <unidadeType id="1105" key="65467d53-b280-4c47-8852-2ecd9d798309" parentID="1103" level="3" creatorID="0" sortOrder="1" createDate="2018-01-22T16:28:51" updateDate="2018-01-24T18:02:23" nodeName="Oscar Freire" urlName="oscar-freire" path="-1,1083,1103,1105" isDoc="" nodeType="1102" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1115" nodeTypeAlias="unidadeType" isPublished="true">
        <enderecoUnidade><![CDATA[Rua Oscar Freire, 550, Jardins, São Paulo / SP]]></enderecoUnidade>
        <nomeUnidade><![CDATA[Oscar Freire]]></nomeUnidade>
        <descricaoUnidade><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoUnidade>
        <horarioFuncionamento><![CDATA[Seg à sex das 08:00 às 17:00]]></horarioFuncionamento>
        <fotoPrincipal><![CDATA[umb://media/385fec2ab285469c80b8515f3666f103]]></fotoPrincipal>
        <miniaturaLoja><![CDATA[umb://media/5b92f3cafc0e4c3fa7c6e1424bde65e4]]></miniaturaLoja>
      </unidadeType>
      <unidadeType id="1106" key="cf989112-58be-467d-a9e1-5d4991c09171" parentID="1103" level="3" creatorID="0" sortOrder="2" createDate="2018-01-22T16:29:57" updateDate="2018-01-24T18:02:30" nodeName="Vila Olimpia" urlName="vila-olimpia" path="-1,1083,1103,1106" isDoc="" nodeType="1102" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1115" nodeTypeAlias="unidadeType" isPublished="true">
        <enderecoUnidade><![CDATA[Av Olimpiadas, 300, Vila Olimpia, São Paulo / SP]]></enderecoUnidade>
        <nomeUnidade><![CDATA[Vila Olímpia]]></nomeUnidade>
        <descricaoUnidade><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoUnidade>
        <horarioFuncionamento><![CDATA[Seg á sex das 08:00 às 17:00]]></horarioFuncionamento>
        <fotoPrincipal><![CDATA[umb://media/40c54dc9cd0743c0ab323657c32f7a0e]]></fotoPrincipal>
        <miniaturaLoja><![CDATA[umb://media/41402c637b3f4dddaf44b28d15c56163]]></miniaturaLoja>
      </unidadeType>
    </unidadesType>
    <sobreType id="1113" key="3049f60f-658b-43c7-a7a9-6f0425ced9fd" parentID="1083" level="2" creatorID="0" sortOrder="5" createDate="2018-01-22T18:14:38" updateDate="2018-01-22T18:14:38" nodeName="Sobre" urlName="sobre" path="-1,1083,1113" isDoc="" nodeType="1112" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1111" nodeTypeAlias="sobreType" isPublished="true">
      <titulo><![CDATA[Sobre o My Co]]></titulo>
      <descricao><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.]]></descricao>
    </sobreType>
  </homeType>
</root>