@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProdutoType>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterTemplate.cshtml";
}

<div class="jumbotron" data-stellar-background-ratio="0.7" style="background-attachment: fixed; background-image: url(@Model.Content.FotoHome.Url)">
    <div class="container">
        <h1>@Umbraco.Field("nome")</h1>
        <h2>@Umbraco.Field("categoria")</h2>
    </div>
</div>
<div class="container">
    <p class="lead">@Umbraco.Field("descricao")</p>
</div>