<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT sobreType ANY>
<!ATTLIST sobreType id ID #REQUIRED>
<!ELEMENT unidadeType ANY>
<!ATTLIST unidadeType id ID #REQUIRED>
<!ELEMENT unidadesType ANY>
<!ATTLIST unidadesType id ID #REQUIRED>
<!ELEMENT destaqueType ANY>
<!ATTLIST destaqueType id ID #REQUIRED>
<!ELEMENT novidadeType ANY>
<!ATTLIST novidadeType id ID #REQUIRED>
<!ELEMENT novidadesType ANY>
<!ATTLIST novidadesType id ID #REQUIRED>
<!ELEMENT paginaType ANY>
<!ATTLIST paginaType id ID #REQUIRED>
<!ELEMENT homeType ANY>
<!ATTLIST homeType id ID #REQUIRED>
<!ELEMENT produtoType ANY>
<!ATTLIST produtoType id ID #REQUIRED>
<!ELEMENT produtosType ANY>
<!ATTLIST produtosType id ID #REQUIRED>
]>
<root id="-1">
  <homeType id="1083" key="fe9a9ccc-cac3-4840-a3df-efd162b5c177" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-19T15:21:53" updateDate="2018-01-23T14:02:31" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1077" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1076" nodeTypeAlias="homeType" isPublished="true">
    <nomeEmpresa><![CDATA[MyCo]]></nomeEmpresa>
    <title><![CDATA[MyCo - Home]]></title>
    <metaDescription><![CDATA[jkdsnkjasd asd asjdnasjdajsda sdasd]]></metaDescription>
    <texto><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium]]></texto>
    <titulo><![CDATA[Bem vindo ao My Co]]></titulo>
    <callToAction><![CDATA[/produtos]]></callToAction>
    <descricao><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.]]></descricao>
    <produtosType id="1084" key="9d7a22e8-adde-40ab-a674-a6bdb1d224f0" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2018-01-19T17:09:38" updateDate="2018-01-19T17:47:27" nodeName="Produtos" urlName="produtos" path="-1,1083,1084" isDoc="" nodeType="1080" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1090" nodeTypeAlias="produtosType" isPublished="true">
      <title><![CDATA[My Co - Produtos incríveis]]></title>
      <metaDescription><![CDATA[mklamklaslkasdmklasm dklasmd kalsmdlaksmdasdasd]]></metaDescription>
      <titulo><![CDATA[Conheça os nossos produtos]]></titulo>
      <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.]]></descricao>
      <produtoType id="1085" key="28beb538-4c7a-47a6-9b82-5287da98d87d" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2018-01-19T17:16:32" updateDate="2018-01-23T10:00:46" nodeName="Produto 1" urlName="produto-1" path="-1,1083,1084,1085" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <nome><![CDATA[Produto 1]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>1</exibirHome>
        <ordem>1</ordem>
      </produtoType>
      <produtoType id="1086" key="c8028c56-de0d-4cde-b75f-d069844b129e" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2018-01-19T17:17:08" updateDate="2018-01-23T10:02:45" nodeName="Produto 2" urlName="produto-2" path="-1,1083,1084,1086" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <nome><![CDATA[Produto 2]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>1</exibirHome>
        <ordem>2</ordem>
      </produtoType>
      <produtoType id="1087" key="92202a49-b51a-4174-98b7-48834388414e" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2018-01-19T17:17:32" updateDate="2018-01-23T10:02:54" nodeName="Produto 3" urlName="produto-3" path="-1,1083,1084,1087" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <nome><![CDATA[Produto 3]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>1</exibirHome>
        <ordem>3</ordem>
      </produtoType>
      <produtoType id="1088" key="df98cce6-fb3b-4869-96d8-800f4ea42164" parentID="1084" level="3" creatorID="0" sortOrder="3" createDate="2018-01-19T17:17:56" updateDate="2018-01-23T10:02:59" nodeName="Produto 4" urlName="produto-4" path="-1,1083,1084,1088" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <nome><![CDATA[Produto 4]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>0</exibirHome>
        <ordem>4</ordem>
      </produtoType>
      <produtoType id="1089" key="6ac67333-59a8-4fbe-a20d-9b99c4bc69aa" parentID="1084" level="3" creatorID="0" sortOrder="4" createDate="2018-01-19T17:18:21" updateDate="2018-01-23T10:03:04" nodeName="Produto 5" urlName="produto-5" path="-1,1083,1084,1089" isDoc="" nodeType="1079" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1114" nodeTypeAlias="produtoType" isPublished="true">
        <nome><![CDATA[Produto 5]]></nome>
        <categoria><![CDATA[Categoria 1]]></categoria>
        <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
        <exibirHome>0</exibirHome>
        <ordem>5</ordem>
      </produtoType>
    </produtosType>
    <novidadesType id="1096" key="c4c43e96-cba0-4eb5-aa74-37a1a5d614ba" parentID="1083" level="2" creatorID="0" sortOrder="1" createDate="2018-01-19T18:10:39" updateDate="2018-01-23T13:59:16" nodeName="Novidades" urlName="novidades" path="-1,1083,1096" isDoc="" nodeType="1092" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1091" nodeTypeAlias="novidadesType" isPublished="true">
      <titulo><![CDATA[Sed ut perspiciatis unde omnis]]></titulo>
      <descricao><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.]]></descricao>
      <novidadeType id="1097" key="ab7eb836-a421-4347-ad4c-4c56c0b84d12" parentID="1096" level="3" creatorID="0" sortOrder="0" createDate="2018-01-19T18:12:42" updateDate="2018-01-23T14:11:08" nodeName="One morning, when Gregor Samsa" urlName="one-morning-when-gregor-samsa" path="-1,1083,1096,1097" isDoc="" nodeType="1094" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1091" nodeTypeAlias="novidadeType" isPublished="false">
        <conteudo><![CDATA[<p>One morning, when <strong>Gregor Samsa</strong> woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like <strong>back</strong>, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. <em>"What's happened to me?" 2</em></p>]]></conteudo>
        <tags><![CDATA[morning,Gregor Samsa]]></tags>
        <resumo><![CDATA[One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly]]></resumo>
        <categoria><![CDATA[Categoria Blog A]]></categoria>
        <titulo><![CDATA[One morning, when Gregor Samsa]]></titulo>
      </novidadeType>
      <novidadeType id="1108" key="91fc97e4-2e80-4949-ac51-46af3b64d6b6" parentID="1096" level="3" creatorID="0" sortOrder="1" createDate="2018-01-22T17:27:16" updateDate="2018-01-23T14:10:58" nodeName="What's happened to me?" urlName="whats-happened-to-me" path="-1,1083,1096,1108" isDoc="" nodeType="1094" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1091" nodeTypeAlias="novidadeType" isPublished="true">
        <conteudo><![CDATA[<p>One morning, when <strong>Gregor Samsa</strong> woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like <strong>back</strong>, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. <em>"What's happened to me?"</em></p>]]></conteudo>
        <tags><![CDATA[Tag A,Tag B]]></tags>
        <resumo><![CDATA[One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.]]></resumo>
        <categoria><![CDATA[Categoria Blog A]]></categoria>
        <titulo><![CDATA[What's happened to me?]]></titulo>
      </novidadeType>
      <novidadeType id="1118" key="c9f865bd-bc8e-46e0-bbe2-581b17ac3488" parentID="1096" level="3" creatorID="0" sortOrder="2" createDate="2018-01-23T13:54:45" updateDate="2018-01-23T14:09:23" nodeName="Inauguração da nova loja" urlName="inauguração-da-nova-loja" path="-1,1083,1096,1118" isDoc="" nodeType="1094" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1076" nodeTypeAlias="novidadeType" isPublished="true">
        <conteudo><![CDATA[<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>]]></conteudo>
        <tags><![CDATA[Tag 1,Tah 2]]></tags>
        <resumo><![CDATA[kajsakkajsndjasdjansdjndsasdasd]]></resumo>
        <categoria><![CDATA[Categoria Blog A]]></categoria>
        <titulo><![CDATA[Inauguração da nova loja]]></titulo>
      </novidadeType>
    </novidadesType>
    <destaqueType id="1099" key="f633bb84-7954-4853-b1d9-f2c4ce18cdd4" parentID="1083" level="2" creatorID="0" sortOrder="2" createDate="2018-01-22T15:39:36" updateDate="2018-01-22T15:39:36" nodeName="Conheca os nossos produtos" urlName="conheca-os-nossos-produtos" path="-1,1083,1099" isDoc="" nodeType="1098" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="0" nodeTypeAlias="destaqueType" isPublished="true">
      <descricaoDestaque><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoDestaque>
      <tituloDestaque><![CDATA[Conheça os nossos produtos]]></tituloDestaque>
      <textoAcaoDestaque><![CDATA[Ver mais]]></textoAcaoDestaque>
      <linkAcaoDestaque><![CDATA[/produtos]]></linkAcaoDestaque>
    </destaqueType>
    <destaqueType id="1100" key="1b34a778-1e5c-4d0f-86e3-ab65f9c7d28b" parentID="1083" level="2" creatorID="0" sortOrder="3" createDate="2018-01-22T15:40:46" updateDate="2018-01-22T15:40:46" nodeName="Conheca as nossas unidades" urlName="conheca-as-nossas-unidades" path="-1,1083,1100" isDoc="" nodeType="1098" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="0" nodeTypeAlias="destaqueType" isPublished="true">
      <descricaoDestaque><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoDestaque>
      <tituloDestaque><![CDATA[Conheca as nossas unidades]]></tituloDestaque>
      <textoAcaoDestaque><![CDATA[Ver mais]]></textoAcaoDestaque>
      <linkAcaoDestaque><![CDATA[/unidades]]></linkAcaoDestaque>
    </destaqueType>
    <unidadesType id="1103" key="5638a69c-f6d4-42ad-989d-f89db25b8094" parentID="1083" level="2" creatorID="0" sortOrder="4" createDate="2018-01-22T16:26:25" updateDate="2018-01-22T18:18:16" nodeName="Unidades" urlName="unidades" path="-1,1083,1103" isDoc="" nodeType="1101" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1109" nodeTypeAlias="unidadesType" isPublished="true">
      <titulo><![CDATA[Nossas unidades]]></titulo>
      <descricao><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.]]></descricao>
      <unidadeType id="1104" key="8bf0c786-701f-4ac1-b9e9-c0332a5eb374" parentID="1103" level="3" creatorID="0" sortOrder="0" createDate="2018-01-22T16:27:45" updateDate="2018-01-23T10:08:26" nodeName="Jardins" urlName="jardins" path="-1,1083,1103,1104" isDoc="" nodeType="1102" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1115" nodeTypeAlias="unidadeType" isPublished="true">
        <enderecoUnidade><![CDATA[Av. Paulista, 1900, São Paulo / SP]]></enderecoUnidade>
        <nomeUnidade><![CDATA[Paulista]]></nomeUnidade>
        <descricaoUnidade><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoUnidade>
        <horarioFuncionamento><![CDATA[Seg à sex das 08:00 às 17:00]]></horarioFuncionamento>
      </unidadeType>
      <unidadeType id="1105" key="65467d53-b280-4c47-8852-2ecd9d798309" parentID="1103" level="3" creatorID="0" sortOrder="1" createDate="2018-01-22T16:28:51" updateDate="2018-01-23T10:08:31" nodeName="Oscar Freire" urlName="oscar-freire" path="-1,1083,1103,1105" isDoc="" nodeType="1102" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1115" nodeTypeAlias="unidadeType" isPublished="true">
        <enderecoUnidade><![CDATA[Rua Oscar Freire, 550, Jardins, São Paulo / SP]]></enderecoUnidade>
        <nomeUnidade><![CDATA[Oscar Freire]]></nomeUnidade>
        <descricaoUnidade><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoUnidade>
        <horarioFuncionamento><![CDATA[Seg à sex das 08:00 às 17:00]]></horarioFuncionamento>
      </unidadeType>
      <unidadeType id="1106" key="cf989112-58be-467d-a9e1-5d4991c09171" parentID="1103" level="3" creatorID="0" sortOrder="2" createDate="2018-01-22T16:29:57" updateDate="2018-01-23T10:08:35" nodeName="Vila Olimpia" urlName="vila-olimpia" path="-1,1083,1103,1106" isDoc="" nodeType="1102" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1115" nodeTypeAlias="unidadeType" isPublished="true">
        <enderecoUnidade><![CDATA[Av Olimpiadas, 300, Vila Olimpia, São Paulo / SP]]></enderecoUnidade>
        <nomeUnidade><![CDATA[Vila Olímpia]]></nomeUnidade>
        <descricaoUnidade><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.]]></descricaoUnidade>
        <horarioFuncionamento><![CDATA[Seg á sex das 08:00 às 17:00]]></horarioFuncionamento>
      </unidadeType>
    </unidadesType>
    <sobreType id="1113" key="3049f60f-658b-43c7-a7a9-6f0425ced9fd" parentID="1083" level="2" creatorID="0" sortOrder="5" createDate="2018-01-22T18:14:38" updateDate="2018-01-22T18:14:38" nodeName="Sobre" urlName="sobre" path="-1,1083,1113" isDoc="" nodeType="1112" creatorName="Marcel Kumano" writerName="Marcel Kumano" writerID="0" template="1111" nodeTypeAlias="sobreType" isPublished="true">
      <titulo><![CDATA[Sobre o My Co]]></titulo>
      <descricao><![CDATA[Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.]]></descricao>
    </sobreType>
  </homeType>
</root>